body {
    background-color: #f6aa1cd3;
}

nav {
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: bisque;
    background-color: #621708;
  }
    a:link {
    color: bisque;
  }
    a:visited {
    color: bisque;}
    a:hover {
      color: bisque;
    }
    a:link {
      text-decoration: none;
    }
    .flex-container {
        padding-left: 5%;
        padding-right: 5%;
    }


